android/.gradle/
android/app/build/
android/build/
android/local.properties
android/keystore.properties
android/android-upload-key.jks
android/app-release-bundle.aab
android/app-release-signed.apk
android/app-release-unsigned-aligned.apk
